@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: red;
  }
  40% {
    transform: scale(1);
    background-color: red;
  }
  50% {
    transform: scale(1);
    background-color: red;
  }
}

.Container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  background-color: red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin: 0.5rem;
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 700px) {
}

.Container {
  animation-delay: 0s;
}
